@custom-media --mq-xs (max-width:550px);
@custom-media --mq-small (max-width:800px);
@custom-media --mq-medium (max-width:1100px);
@custom-media --mq-large (max-width:1500px);


/* GENERAL */
body {
  background-color: rgba(var(--main-colour), 0.5);
  transition: background-color 1s;}

.overflow-none {
    overflow: hidden;}




/* CANVAS */
canvas {
  position:fixed;
  top:0;
  left:0;
  z-index:0;}


/* LAYOUT */
section.full-screen {
  min-height:100vh;
  width:100vw;
  position:relative;}

section.center-left {
  display:flex;
  justify-content: center;
  flex-direction: column;}

.container {
  max-width: var(--page-max-width);
  margin: var(--page-margin);}

.headline-container {
  width:70%;}

@media (--mq-medium) {
  .headline-container {
    width:100%;}
  }



/* CAROUSEL */
.invisible-link--top {
  width:100vw;
  height:50vh;
  position:fixed;
  top:0;
  left:0;
  z-index:2;
  display:none;}

.invisible-link--bottom {
  width:100vw;
  height:50vh;
  position:fixed;
  bottom:0;
  left:0;
  z-index:2;}

main {
  transition: all 1s;}

.arrow-down {
  position: absolute;
  bottom: 100px;
  transform: rotate(90deg);
  width: 80px;
  z-index: 2;
  left: 7em;
}

@media (--mq-medium) {
  .arrow-down {
    width: 60px;
    left:50%;
    bottom: 30px;
    transform: rotate(90deg) translateX(-50%);
  }
}

/* ABOUT PAGE */
.about-img {
  position:absolute;
  right:7em;
  bottom: -250px;
}

.arrow-inline {
  height:60px;
}

p.page-furniture span {
  height:3px;
  width:100px;
  background-color:rgba(var(--main-colour), 1);
  display: inline-block;
  margin-right:10px;
}
