h1, h2 {
  font: var(--main-font--bold) var(--header-large) var(--main-font);
  z-index:2;
  position: relative;
}

h1 a, h2 a {
  text-decoration: none;
  color: var(--black);
  padding-bottom:10px;
  display:inline-block;
  margin-top:40px;
}

h1 a:first-child, h2 a:first-child {
  margin-top:0px;
}


h1 a:visited, h2 a:visited, h2 a:active {
  color: var(--black);
}

a {
  border-bottom: 10px solid rgba(var(--main-colour), 1);
}

a.orange {
  border-bottom: 10px solid var(--orange-solid);
}
