<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sarah Gill | Design + Development</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
    </style>

    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="https://use.typekit.net/alw7gdw.css">
  </head>
  <body class="overflow-none">
      <div class="cursor"></div>
    {% include header.html %}

      {{ content }}

      <canvas> </canvas>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/assets/js/main.js"></script>
</html>
